//
//  Cartools.xcconfig
//  Cartools
//
//  Created by show on 1/7/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "PrivateFrameworks.xcconfig"

SYSTEM_FRAMEWORK_SEARCH_PATHS = $(inherited) $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks

MACOSX_DEPLOYMENT_TARGET = 11.0
